<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.auth.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.demo.auth.entity.Role">
        <!--@Table t_role-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="roleNickname" column="role_nickname" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, role_name, role_nickname, status, del_flag, remark, create_time, update_time
        from t_role
        where id = #{id} and del_flag != '1'
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, role_name, role_nickname, status, del_flag, remark, create_time, update_time
        from t_role
        where del_flag != '1'
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="query" resultMap="BaseResultMap">
        select
          id, role_name, role_nickname, status, del_flag, remark, create_time, update_time
        from t_role
        where
            del_flag != '1'
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name = #{roleName}
            </if>
            <if test="roleNickname != null and roleNickname != ''">
                and role_nickname = #{roleNickname}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into auth.t_role(role_name, role_nickname, status, del_flag, remark, create_time, update_time)
        values (#{roleName}, #{roleNickname}, #{status}, '0', #{remark}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update auth.t_role
        set
            role_name = #{roleName},
            role_nickname = #{roleNickname},
            status = #{status},
            remark = #{remark}
        where id = #{id} and del_flag != '1'
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update t_role set del_flag = '1' where id = #{id}
    </delete>

</mapper>