<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.auth.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.demo.auth.entity.User">
        <!--@Table t_user-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, dept_id, username, password, email, phone, del_flag, create_time, update_time
        from t_user
        where id = #{id} and del_flag != '1'
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, dept_id, username, password, email, phone, del_flag, create_time, update_time
        from t_user
        where del_flag != '1'
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="query" resultMap="BaseResultMap">
        select
          id, dept_id, username, password, email, phone, del_flag, create_time, update_time
        from t_user
        where
            del_flag != '1'
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="delFlag != null and delFlag != ''">
                and del_flag = #{delFlag}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into auth.t_user(dept_id, username, password, email, phone, del_flag, create_time, update_time)
        values (#{deptId}, #{username}, #{password}, #{email}, #{phone}, '0', #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update auth.t_user
        set
            dept_id = #{deptId},
            username = #{username},
            password = #{password},
            email = #{email},
            phone = #{phone}
        where id = #{id} and del_flag != '1'
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update t_user set del_flag = '1' where id = #{id}
    </delete>

</mapper>